[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
dj-rest-auth = "*"
django-allauth = "*"
pillow = "*"
drf-spectacular = "*"
pytest = "*"
pytest-factoryboy = "*"
coverage = "*"
pytest-cov = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.11"
